.center{
    margin: auto;
    width: 600px
}
.column{
    display: flex;
    flex-direction: column;
}

.field-label{
    margin-top: .5rem;
    font-weight: bold;
}
label{
    margin-top: .5rem;
    font-weight: bold;
    text-align: right;
}
th{
   text-align: right;
}

#cco_container{
    display: none;
}
.submit_button{
    display: flex;
    justify-content: center;
}

.industry{
    display: none;
}